/* Landing Section */
#landing {
    background-color: #212121;
  }
  
  #deltaLogoDiv {
    padding: 80px 0px 40px 0px;
    text-align: center;
    animation: sexyGlow 3s ease-in-out 0s infinite;
  }
  
  /* CSS for Scramble Text */
  .container {
    position: relative;
    top: 25%;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    padding: 50px 0px 100px 0px;
  }
  
  .text {
    font-weight: 800;
    font-size: 34px;
    color: green;
  }
  
  @media only screen and (max-width: 550px) {
    .text {
      font-size: 20px !important;
    }
  }
  
  .dud {
    color: green;
  }
 
  
  
  #whoAmI {
    background-color: green;
  }
  
  
  
  #whatIDo {
    background-color: green;
  }
  
  #whatIDoImage {
    margin: 10px 0px;
  }
  
  p.section-1-content {
    text-align: justify;
    font-weight: 300;
    font-size: 20px;
  }
  
 
  
  /* Animation stuff */
  @keyframes sexyGlow {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 991px) {
    #whoWeAreImage {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 550px) {
    section {
      padding: 0px;
    }
  
    #whoIAmImage {
      width: 100%;
    }
  
  
    #whatIDoImage {
      margin: 0px;
    }
  
    .light-button {
      margin-bottom: 15px;
    }
  
    
  }

  